aiohttp==3.8.0; python_version >= "3.6"
aiosignal==1.2.0; python_version >= "3.6"
async-timeout==4.0.0; python_version >= "3.6"
asynctest==0.13.0; python_version < "3.8" and python_version >= "3.6"
attrs==21.2.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
charset-normalizer==2.0.7; python_full_version >= "3.5.0" and python_version >= "3.6"
frozenlist==1.2.0; python_version >= "3.6"
idna-ssl==1.1.0; python_version < "3.7" and python_version >= "3.6"
idna==3.3; python_version < "3.7" and python_version >= "3.6"
multidict==6.0.2; python_version >= "3.6"
typing-extensions==3.10.0.2; python_version < "3.8" and python_version >= "3.6"
yarl==1.7.0; python_version >= "3.6"
